html, body, .panel-cover, .container-table {
    height: 100%;
}

.container-table {
    display: table;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.image {
	width: 32px;
	height: 32px;
	margin: 0 10px;
}

.panel-cover {
  	background: url(images/background.jpg);
  	background-repeat:no-repeat;
	background-size: cover;
	background-position:center;
}